<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="font-family: Arial; font-size: 10pt;">
    <div style="background-color: #446699; text-align: center; line-height: 0px;">
        <img src="http://schoollineup.apphb.com/Content/images/graduare-header.png" alt="Graduare" height="40">
    </div>
    <div>
        <h3>Resultado de Avaliação</h3>
    </div>
    <div>
        <p>
            Escola: <b>{collegeName}</b>
            <br>
            Disciplina: <b>{courseName}</b>
            <br>
            Professor(a): <b>{teacherName}</b>
        </p>
        <hr style="border: 1px solid #DDDDDD;">
        <p>
            Avaliação: <b>{examName}</b>
            <br>
            Sua nota: <b>{examResultValue}</b>
            <br>
            Obs.: <b>{examResultDescription}</b>
        </p>
        <hr style="border: 1px solid #DDDDDD;">
        <p>
            Baixe o aplicativo para acompanhar suas notas.
            <br>
            Acesse com seu e-mail (<b>{studentEmail}</b>) e matrícula (<b>{studentRegistrationCode}</b>).
            <br><br>
            <a href="https://play.google.com/store/apps/details?id=com.dcollioni.graduare">
                <img src="http://www.uscs.edu.br/images/assets/google-play-button.png" alt="Download na Google Play" height="50"></a>
        </p>
    </div>
    <div style="background-color: #446699; height: 20px;">
        <br>
    </div>
</body>
</html>