<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="font-family: Arial; font-size: 10pt;">
    <div>
        <h1>Resultado de Avaliação</h1>
    </div>
    <div>
        <p>
            {collegeName} - {courseName} - {teacherName}
            <br>
            <b>{examName}</b>
            <br>
            Sua nota: <b>{examResultValue}</b>
            <br>
            Obs.: {examResultDescription}
        </p>
        <p>
            Baixe o aplicativo e acompanhe suas notas no celular:
            <a href="https://play.google.com/store/apps/details?id=com.dcollioni.graduare">Graduare</a>
            <br>
            Para acessar, utilize seu e-mail (<b>{studentEmail}</b>) e matrícula (<b>{studentRegistrationCode}</b>).
        </p>
    </div>
</body>
</html>