<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="font-family: Arial; font-size: 10pt;">
    <div>
        <h3>Resultado de Avaliação</h3>
    </div>
    <div>
        <p>
            Escola: <b>{collegeName}</b>
            <br>
            Disciplina: <b>{courseName}</b>
            <br>
            Professor(a): <b>{teacherName}</b>
        </p>
        <hr>
        <p>
            Avaliação: <b>{examName}</b>
            <br>
            Sua nota: <b>{examResultValue}</b>
            <br>
            Obs.: {examResultDescription}
        </p>
        <hr>
        <p>
            Baixe o aplicativo para acompanhar suas notas.
            <br>
            <a href="https://play.google.com/store/apps/details?id=com.dcollioni.graduare">
                <img src="http://www.uscs.edu.br/images/assets/google-play-button.png" alt="Download na Google Play" height="50"></a>
            <br>
            Para acessar, utilize seu e-mail (<b>{studentEmail}</b>) e matrícula (<b>{studentRegistrationCode}</b>).
        </p>
    </div>
</body>
</html>