@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ko{
    @System.Web.Optimization.Scripts.Render("~/bundles/ko/course")
}

<div id="breadcrumb">
    <ul>
        <li>
            <a href="@Url.Content("~")College">Escolas</a> &rarr;
        </li>
        <li>
            <strong>@ViewBag.CollegeName</strong>
        </li>
    </ul>
</div>

<h2>Disciplinas</h2>

<input type="hidden" id="collegeId" value="@ViewBag.CollegeId" />

<fieldset>
    <legend>Informações principais</legend>
    <form action="Course/Save" method="post">
        <input type="hidden" name="collegeId" data-bind="value: current().collegeId"  />
        <div class="row">
            <div class="cell w25">
                <label>
                    Nome
                    <input type="text" name="name" maxlength="50" data-bind="value: current().name, attr: { title: errors().name }, css: { invalid: !!errors().name }" />
                </label>
            </div>
            <div class="cell w25">
                <label>
                    Professor
                    <select name="teacherId" data-bind="options: teachers, optionsCaption: 'Selecione...', optionsText: 'name', optionsValue: 'id', value: current().teacherId, attr: { title: errors().teacherId }, css: { invalid: !!errors().teacherId }"></select>
                </label>
            </div>
            <div class="cell w20">
                <label>
                    Início
                    <input type="text" name="startDate" data-bind="value: current().startDateStr, attr: { title: errors().startDate }, css: { invalid: !!errors().startDate }" />
                </label>
            </div>
            <div class="cell w20">
                <label>
                    Término
                    <input type="text" name="finishDate" data-bind="value: current().finishDateStr, attr: { title: errors().finishDate }, css: { invalid: !!errors().finishDate }" />
                </label>
            </div>
            <div class="cell w10">
                <label>
                    <input type="checkbox" name="isClosed" data-bind="checked: current().isClosed" />
                    Fechada
                </label>
            </div>
        </div>
        <div class="row">
            <div class="cell buttons">
                <input type="button" name="create" class="create" value="Criar" data-bind="click: create" />
                <input type="button" name="update" class="update" value="Editar" data-bind="enable: current().id() > 0, click: $root.update" />
                <input type="button" name="delete" class="delete" value="Excluir" data-bind="enable: current().id() > 0, click: $root.delete" />
                <input type="button" name="reset" class="reset" value="Limpar" data-bind="click: clearSelection" />
            </div>
        </div>
    </form>
</fieldset>

<table>
    <thead>
        <tr>
            <th class="w50">Nome</th>
            <th class="w25">Início</th>
            <th class="w25">Término</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: courses">
        <tr data-bind="click: $parent.select, css: { selected: isSelected }, event: { dblclick: $parent.open }">
            <td data-bind="text: name"></td>
            <td class="center" data-bind="text: startDateStr"></td>
            <td class="center" data-bind="text: finishDateStr"></td>
        </tr>
    </tbody>
</table>

<div id="errors" data-bind="css: { active: serverErrors().length > 0 }" class="modal closable">
    <h3>A operação não foi concluída</h3>
    <ul data-bind="foreach: serverErrors">
        <li data-bind="text: $data"></li>
    </ul>
    <a href="#" data-bind="click: clearServerErrors" class="close"></a>
</div>

<div id="deleteConfirmation" data-bind="css: { active: isDeleting }" class="modal closable">
    <h3>Confirmar exclusão</h3>
    <div>
        <input type="button" name="confirm" value="Confirmar" class="confirm" data-bind="click: confirmDelete" />
        <input type="button" name="cancel" value="Cancelar" class="cancel" data-bind="click: cancelDelete" />
    </div>
    <a href="#" data-bind="click: cancelDelete" class="close"></a>
</div>