@font-face {
    font-family: Signika;
    src: url(fonts/Signika-Light.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Signika;
    src: url(fonts/Signika-Semibold.ttf);
    font-style: normal;
    font-weight: bold;
}

body {
    background-color: #F8F8F8;
    background-image: url(images/escheresque.png);
    margin: 0;
}

main {
    border: 0px solid #000;
    color: #444444;
    font-family: Signika;
    font-size: 14pt;
    min-width: 1000px;
    text-shadow: 0px 0px 3px #E8E8E8;
    -webkit-text-stroke-width: .15px;
}

header {
    background-color: #446699;
    border-bottom: 10px solid #5577AA;
    height: 100px;
    line-height: 100px;
}

    header div {
        margin: 0 auto;
        width: 90%;
    }

header h1 {
    font-size: 28pt;
    margin: 0;
}

header h1 a {
    color: #DDDDDD;
    text-decoration: none;
    text-shadow: 0px 0px 3px #555555;
}

nav {
    background-color: #E8E8E8;
    border-bottom: 2px solid #C8C8C8;
    padding: 10px 0;
}

    nav div {
        margin: 0 auto;
        width: 90%;
    }

    nav a {
        border: 1px solid #D8D8D8;
        border-top: none;
        border-bottom: none;
        color: #444;
        padding: 10px 20px;
        text-decoration: none;
    }

        nav a:hover {
            background-color: #D8D8D8;
            border-color: #C8C8C8;
            border-collapse: collapse;
            color: #222;
        }

        nav a:not(:first-child) {
            margin-left: -4px;
        }

        nav a:first-child {
            border-left-width: 2px;
            margin-left: -2px;
        }

        nav a:last-child {
            border-right-width: 2px;
        }

section {
    background-color: #F8F8F8;
    border: 2px solid #D8D8D8;
    border-top: none;
    border-bottom: none;
    box-shadow: #DDDDDD 0 2px 20px;
    padding: 10px 0;
    margin: 0 auto;
    width: 90%;
}

section div {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 95%;
}

footer {
    border-top: 2px dotted #B8B8B8;
    height: 50px;
    line-height: 50px;
}

    footer div {
        margin: 0 auto;
        text-align: right;
        width: 90%;
    }

    footer div p {
        color: #666666;
        font-size: 10pt;
        margin: 0 20px;
        text-shadow: 0px 0px 4px #EEEEEE;
    }

h2 {
    font-size: 20pt;
}

fieldset {
    border: 1px solid #CCCCCC;
    font-size: 12pt;
    margin: 10px 0;
    padding: 10px;
}

fieldset legend {
    color: #888888;
}

form {
    box-sizing: border-box;
    margin: 0 5px;
}

    form div {
        border: 0px solid blue;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 0;
    }
    
    form .row {
        width: 100%;
    }
        form .row:not(:first-child) {
            margin-top: 10px;
        }

    form .cell {
        display: inline-block;
        width: 100%;
    }

        form .cell:not(:first-child) {
            margin-left: -4px;
        }

        form .cell:not(:first-child) {
            padding-left: 10px;
        }

        form .cell.w80 {
            width: 80%;
        }
        form .cell.w70 {
            width: 70%;
        }
        form .cell.w50 {
            width: 50%;
        }
        form .cell.w40 {
            width: 40%;
        }
        form .cell.w35 {
            width: 35%;
        }
        form .cell.w30 {
            width: 30%;
        }
        form .cell.w25 {
            width: 25%;
        }
        form .cell.w20 {
            width: 20%;
        }
        form .cell.w15 {
            width: 15%;
        }

    form .cell.buttons {
        text-align: right;
    }

    form .cell.buttons input {
        background-color: #DDDDDD;
        cursor: pointer;
        padding: 5px 8px;
        text-align: right;
        width: 80px;
    }

        form .cell.buttons input:not(:disabled):active {
            background-color: #CCCCCC;
        }
        form .cell.buttons input:disabled {
            cursor: default;
            opacity: .6;
        }

    form .cell.buttons input:not(:last-child) {
        margin-right: 5px;
    }

    form input {
        background-color: #FFFFFF;
        border: 1px solid #AAAAAA;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        font-family: Signika;
        font-size: 11pt;
        outline: none;
        padding: 3px;
    }

    form input:focus {
        border-color: #6688BB;
    }

    form input[type=text] {
        display: block;
        width: 100%;
    }

    form input.create {
        background: url(images/plus.png) no-repeat 4px 2px;
        padding-right: 12px !important;
    }

    form input.update {
        background: url(images/edit.png) no-repeat 4px 3px;
    }

    form input.delete {
        background: url(images/delete.png) no-repeat 3px 3px;
    }

    form input.reset {
        background: url(images/file.png) no-repeat 3px 3px;
    }

table {
    border: 1px solid #666666;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 12pt;
    margin: 10px 0;
    width: 100%;
}

thead {
    background-color: #BBBBBB;
    color: #333333;
    text-shadow: 0px 0px 4px #AAAAAA;
}

th {
    border: 1px solid #666666;
    border-left: none;
    border-right: none;
    font-weight: normal;
    padding: 5px;
}
th.w35 {
    width: 35%;
}
th.w25 {
    width: 25%;
}
th.w15 {
    width: 15%;
}

th:not(:last-child) {
    border-right: 1px solid #888888;
}

tr:not(:last-child) {
    border: 1px solid #888888;
    border-left: none;
    border-right: none;
}

td {
    padding: 5px;
}

tbody tr {
    background-color: #FFFFFF;
}

tbody tr:not(.selected):hover {
    background-color: #EEEEEE;
}

tbody tr.selected {
    background-color: #BBCCDD;
    /*background-color: #6688BB;*/
    color: #222222;
    text-shadow: #AABBCC 0px 0px 3px;
}