@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ko{
    @System.Web.Optimization.Scripts.Render("~/bundles/ko/school")
}

<h2>Escolas</h2>

<fieldset>
    <legend>Informações principais</legend>
    <form action="School/Save" method="post">
        <div class="row">
            <div class="cell w35">
                <label>
                    Nome
                    <input type="text" name="name" maxlength="50" data-bind="value: current().name" />
                </label>
            </div>
            <div class="cell w25">
                <label>
                    E-mail
                    <input type="text" name="email" maxlength="50" data-bind="value: current().email" />
                </label>
            </div>
            <div class="cell w25">
                <label>
                    Gestor
                    <input type="text" name="managerName" maxlength="50" data-bind="value: current().managerName" />
                </label>
            </div>
            <div class="cell w15">
                <label>
                    Telefone
                    <input type="text" name="phone" maxlength="12" data-bind="value: current().phone" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="cell buttons">
                <input type="button" name="create" class="create" value="Criar" data-bind="click: create" />
                <input type="button" name="update" class="update" value="Editar" data-bind="enable: current().id() > 0, click: update" />
                <input type="button" name="delete" class="delete" value="Excluir" data-bind="enable: current().id() > 0, click: $root.delete" />
                <input type="button" name="reset" class="reset" value="Limpar" data-bind="click: clearSelection" />
            </div>
        </div>
    </form>
</fieldset>

<table>
    <thead>
        <tr>
            <th class="w35">Nome</th>
            <th class="w25">E-mail</th>
            <th class="w25">Gestor</th>
            <th class="w15">Telefone</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: schools">
        <tr data-bind="click: $parent.select, css: { selected: isSelected }">
            <td data-bind="text: name"></td>
            <td data-bind="text: email"></td>
            <td data-bind="text: managerName"></td>
            <td data-bind="text: phone"></td>
        </tr>
    </tbody>
</table>