@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apresentação</h2>
<p>
    Sistema para controle de escolas, disciplinas, alunos e avaliações de cursos técnicos.
    Com o <strong>School Lineup</strong> é possível fazer o lançamento de notas, frequência escolar.
    E no fim de cada disciplina, os gráficos de cada aluno ficam disponíveis para analisar todo o seu desempenho curricular.
</p>