@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Douglas Collioni" />

    <link rel="shortcut icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <title>Graduare</title>

    @using System.Web.Optimization

    @Styles.Render("~/Content/css/login")
</head>
<body>
    <div id="change-password-page">
        <header>
            <img src="@Url.Content("~")Content/images/graduare-header.png" alt="Graduare logo">
        </header>
        <div id="change-password-box">
            <h1>Alteração de Senha</h1>
            <p>
                Identificamos que a sua senha ainda é temporária.
                <br>Por questões de segurança, pedimos que você informe uma nova.
            </p>
            <hr>
            <div id="form">
                <form action="@Url.Content("~")Account/ChangePassword" method="post">
                    <div>
                        <input type="password" name="password" placeholder="Nova senha" class="password" autofocus="autofocus">
                    </div>
                    <div>
                        <input type="password" name="confirmPassword" placeholder="Confirmação de senha" class="password">
                    </div>
                    <div>
                        <input type="submit" value="Confirmar">
                    </div>
                </form>
            </div>
            <hr>
            <p>
                <a href="/">Quero prosseguir sem alterar minha senha agora.</a>
                <br>
                <span class="small">Nós te lembraremos sobre isso mais tarde.</span>
            </p>
        </div>
    </div>
</body>
</html>